* {
	
	margin: 0;
	box-sizing: border-box;
}
html {
	background-color: gray;
	/*min-height:  100vh;*/
	height: 100%;
}

body {
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;

	min-height: 100%;
	width: 100vw;
	/*border: 1px solid black;*/

}
.head {
	height: 100px;
	border: 2px dotted pink ;
	margin: 2px 1px;

}
.main {
	flex: 1 1 auto;
	border: 2px dotted lightblue ;
	margin: 3px 1px;
}
.footer {
	height: 70px;
	border: 2px dotted pink;
	margin: 2px 1px;
}
